__history__/
*.local
*.identcache
*.dcu
*.ddp
*.cfg
*.dof
*.cbk
*.map
*.rsm
*.stat
*.res
*.exe
*.dll
*.bpl
*.drc
*.~*
tasks.json
users.json
.tools/
autoit-v3.zip
tests/App.Core.Tests/coverage/
tests/App.Core.Tests/test_app_config.ini
tests/App.Win.E2E/runtime/
Win32/
Win64/
Debug/
Release/
