[Persistence]
Backend=json
DataPath=.

[Localization]
Language=es
File=languages.csv
ConnectionString=

[Login]
LastUsername=admin
[Main]
LastOption=TSK
[Grid.TSK]
Filter.createdAt=
createdAt.Visible=1
createdAt.Width=120
createdAt.Index=2
Filter.completed=
completed.Visible=1
completed.Width=70
completed.Index=0
Filter.title=
title.Visible=1
title.Width=220
title.Index=1
Sort.Ascending=0
Sort.Field=completed
