[Persistence]
Backend=json
DataPath=.

[Localization]
Language=es
File=languages.csv
ConnectionString=

[Login]
LastUsername=admin
[Main]
LastOption=TSK
[Grid.TSK]
Filter.createdAt=
createdAt.Visible=1
createdAt.Width=120
createdAt.Index=2
Filter.completed=
completed.Visible=1
completed.Width=70
completed.Index=1
Filter.title=
title.Visible=1
title.Width=220
title.Index=0
Sort.Ascending=1
Sort.Field=title
[Grid.USR]
Filter.locked=
locked.Visible=1
locked.Width=80
locked.Index=5
Filter.active=
active.Visible=1
active.Width=60
active.Index=4
Filter.role=
role.Visible=1
role.Width=80
role.Index=3
Filter.email=
email.Visible=1
email.Width=180
email.Index=2
Filter.displayName=
displayName.Visible=1
displayName.Width=160
displayName.Index=1
Filter.username=
username.Visible=1
username.Width=120
username.Index=0
Sort.Ascending=0
Sort.Field=username
